/* Fonts */

@font-face {
    font-family: heebo-regular;
    src: url(fonts/Heebo-Medium.ttf);
}

@font-face {
    font-family: heebo-subtitles;
    src: url(fonts/Heebo-Light.ttf);
}

body {
    font-family: heebo-regular;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

body .fixed-header #menu-items a {
    text-decoration: none;
    color: #4F4F4F;
}

a:visited {
    color: 212529;
}

a:hover {
    color: #235789;
}

/* Construction */

#under-construction {
    background-image: url(pexels-fauxels-3184339.jpg);
    background-size: cover;
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Header */

.fixed-header {
    position: sticky;
    top: 0;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    left: 0;
    width: 100%;
}

.fixed-header.slide-down {
    transform: translateY(-100%);
}

.fixed-header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 0 0;

}

#menu-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}

#logo-header h4 {
    color: #235789;
}

.active-menu-item {
    font-weight: 600;
    border-bottom: solid #235789 2px;
}

.contact-menu-item {
    border: 1px #235789 solid;
    border-radius: 1rem;
    background-color: #235789;
    color: white;
}

body .fixed-header #menu-items .contact-menu-item a {
    color: white;
}

.contact-menu-item:hover {
    background-color: blue;
}

#menu-items li {
    margin: 0 2rem 0 2rem;
    padding: 1rem;
}

.items:hover {
    border-bottom: solid #235789 2px;
}

.items {
    position: relative;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    list-style-type: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navigation {
    display: none;
}

/* Hero */

#hero {
    height: 100vh;
    background-image: url(images/earth-11595_1920\ -\ Copy.jpg);
    background-attachment: fixed;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    clip-path: circle(180vh at 50% -80vh);
}

#hero h1 {
    font-size: 75px;
}

#hero h3 {
    font-size: 20px;
    font-family: heebo-subtitles;
    margin: 0 20rem 0 20rem;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 2s;
}

.contact-button {
    background-color: #235789;
    padding: 0.5rem;
    margin: 1rem;
    border: #235789 solid;
    border-radius: 10px;
    color: white;
}

.contact-button a {
    color: white;
}

.contact-button:hover {
    transform: scale(125%);
    transition-timing-function: ease;
}

/* Who Are We */

#who-are-we {
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
}

.title-who-are-we {
    text-align: center;
    margin-top: 3rem;
}

.image-who-are-we {
    height: 17rem;
}

.description {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.description-paragraph {
    margin: 0 0 0 3rem;
}

/* Services section */

.services {
    display: grid;
    grid-template-areas: "s1 s2 s3"
        "s4 s5 s6";
    padding: 8rem 0 8rem 0;
    color: white;
}

.services p {
    font-family: heebo-subtitles;
}

#services {
    background-color: #235789;
}

#s1 {
    grid-area: s1;
}

#s2 {
    grid-area: s2;
}

#s3 {
    grid-area: s3;
}

#s4 {
    grid-area: s4;
}

#s5 {
    grid-area: s5;
}

#s6 {
    grid-area: s6;
}

#services img {
    width: 23px;
    height: 23px;
}

.icon-title-container {
    display: flex;
    align-content: center;
    margin: 1rem;
}

.service-title {
    margin: 0 1rem 0 1rem;
}

h1 h2 h3 h4 h5 h6 {
    margin-bottom: 0 !important;
}

.service-square {
    margin: 1rem;
}



/* Testimonials */

#testimonials-carrousel {
    min-height: 65vh;

}

.title-testimonials {
    text-align: center;
    margin: 2rem 0 2rem 0;
}

/* CTA */

#cta {
    background-image: url(images/pexels-shawn-stutzman-1010496.jpg);
    color: white;
    padding: 5% 30% 5% 30%;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 10rem;
}

.submit input {
    background-color: #235789;
    color: white;
    font-size: 16px;
}

.submit input:hover {
    background-color: blue;
}

.cta-text {
    font-family: heebo-subtitles;
}

.attachment {
    width: 30rem;
}

/* Footer */

footer {
    display: grid;
    grid-template-areas: "logo info sitemap";
    grid-template-columns: repeat(1fr);
    align-items: center;
    padding: 4rem 0 4rem 0;
}

#logo-footer {
    grid-area: logo;
}

#logo-footer h4 {
    color: #235789;
}

#info {
    grid-area: info;
}

.footer-navigation {
    grid-area: sitemap;
    display: flex;
    justify-content: center;
}

footer li {
    list-style-type: none;
}

footer li img {
    width: 20px;
    margin: 0 1rem 0 1rem;
}

footer ul {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

/* Services page */

#hero-services {
    height: 60vh;
    background-image: url(images/pexels-marek-piwnicki-8193808.jpg);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#hero-services h1 {
    font-size: 75px;
}

#hero-services h3 {
    font-size: 20px;
    font-family: heebo-subtitles;
    margin: 0 20rem 0 20rem;
}

.specialized-translation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.specialized-translation h2 {
    margin: 3rem;
}

.list-of-languages {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 4rem;
    margin-bottom: 3rem;
}

.workflow {
    background-color: black;
    color: white;
}

.container-workflow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
}

.container-workflow img {
    width: 70%;
}

.desktop-publishing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.desktop-publishing h2 {
    margin-bottom: 3rem;
}

.desktop-publishing p {
    margin: 0 5rem 0 5rem;
}

.desktop-publishing img {
    width: 50%;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}


.text-boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    opacity: 1;
    margin-bottom: 3rem;
}

.text-box {
    background-color: white;
    padding: 10px;
    margin: 0 10px;
    width: 50%;
}

/* Audiovisual Translation */

.hero-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    z-index: -1;
}

.hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: contain;
}

.hide-background {
    opacity: 0;
}

.hero-video p {
    font-size: 18px;
}

.audiov {
    margin: 3rem 5rem 3rem 5rem;
}

.headline {
    text-align: center;
}

/* Localization */

#hero-localization {
    background-image: url(images/pexels-stein-egil-liland-3374210.jpg);
    color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.localization-headline {
    text-align: center;
    margin: 3rem 0 3rem 0;
}

#description-localization {
    margin-bottom: 3rem;
}

.local img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About us */

#hero-about {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/images/pexels-dana-tentis-370799.jpg);
    color: white;
    margin-bottom: 3rem;
}

.hover {
    font-size: 14px;
    color: gray;
}

.list-of-values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
}

.list-of-values li {
    list-style-type: none;
    padding: 5rem;
    border: #235789 solid 1px;
    display: flex;
    justify-content: center;
    color: white;
    height: 25vh;
    align-items: center;
}

.exp {
    background-image: url(images/laptop-3196481_1280.jpg);
    background-size: cover;
}

.exp:hover {
    background-image: url(images/black.png);
    transition: 1s ease-in;
}

.qual {
    background-image: url(images/pexels-fauxels-3184339.jpg);
    background-size: cover;
}

.qual:hover {
    background-image: url(images/black.png);
    transition: 1s ease-in;
}


.clients {
    background-image: url(images/pexels-kindel-media-7688336.jpg);
    background-size: cover;
}

.clients:hover {
    background-image: url(images/black.png);
    transition: 1s ease-in;
}

.reach {
    background-image: url(images/plans-1867745_1280.jpg);
    background-size: cover;
}

.reach:hover {
    background-image: url(images/black.png);
    transition: 1s ease-in;
}

.tech {
    background-image: url(images/programming-593312_1280.jpg);
    background-size: cover;
}

.tech:hover {
    background-image: url(images/black.png);
    transition: 1s ease-in;
}

.imp {
    background-image: url(images/teamwork-3309829_1280.jpg);
    background-size: cover;
}

.imp:hover {
    background-image: url(images/black.png);
    transition: 1s ease-in;
}

.aboutus-headline {
    text-align: center;
    margin: 3rem 0 3rem;
}

.why-trust-us {
    margin-bottom: 3rem;
}

/* Gaming Localization */

#hero-gaming {
    background-image: url(/images/pexels-soumil-kumar-735911.jpg);
    height: 60vh;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gaming-headline {
    text-align: center;
    margin: 3rem;
}

.gaming-paragraph {
    margin-bottom: 3rem;
}

/* Responsiveness */

/* Header */

@media (max-width: 768px) {
    .fixed-header {
        display: none;
    }

    .navigation {
        display: block;
        width: 100%;
        display: flex;
    }

    /* General */



    .p-menu1 {
        height: 100%;
    }




    /* Hamburger */
    .hamburger1 {
        height: 45px;
        margin: 10px;
        display: -ms-grid;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        z-index: 120;
    }

    .hamburger1 div {
        background-color: rgb(61, 61, 61);
        position: relative;
        width: 40px;
        height: 5px;
        margin-top: 7px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    #toggle1 {
        display: none;
    }

    #toggle1:checked+.hamburger1 .top {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: 22.5px;
    }

    #toggle1:checked+.hamburger1 .meat {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -5px;
    }

    #toggle1:checked+.hamburger1 .bottom {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    #toggle1:checked~.menu1 {
        height: 340px;
    }


    /* Menu */
    .menu1 {
        width: 100%;
        background-color: #02173F;
        margin: 0;
        display: -ms-grid;
        display: grid;
        grid-template-rows: 1fr repeat(4, 0.5fr);
        grid-row-gap: 25px;
        padding: 0;
        list-style: none;
        clear: both;
        width: auto;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height .4s ease;
        z-index: 120;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .menu1 a:first-child {
        margin-top: 40px;
    }

    .menu1 a:last-child {
        margin-bottom: 40px;
    }

    .link1 {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        font: 700 20px 'Oswald', sans-serif;
    }

    .link1:hover {
        background-color: #fff;
        color: rgb(61, 61, 61);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    body {
        margin-top: 3rem;
    }

    #hero h3 {
        margin: 2rem 1rem;
        padding: 1rem;
    }

    .description {
        flex-direction: column;
    }

    #who-are-we {
        height: 90vh;
    }

    .services {
        grid-template-areas: "s1 s2"
            "s3 s4" "s5 s6";
        padding: 8rem 0 8rem 0;
    }

    #cta {
        padding: 2rem;
    }

    .attachment {
        width: 50%;
    }

    footer {
        grid-template-areas: "logo" "info" "sitemap";
    }

}

@media (max-width: 593px) {
    .services {
        grid-template-areas: "s1" "s2" "s3" "s4" "s5" "s6";
        padding: 1rem;
    }

    #hero h1 {
        font-size: 50px;
    }

    .footer-navigation {
        justify-content: start;
    }

    footer {
        padding: 1rem;
    }

    #testimonials-carrousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        min-height: 90vh;
    }

    .testimonial-item {
        height: 50vh;
    }

    .description-paragraph {
        margin: 0;
    }

}
